body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 650px) {
    header .logo{
        width: 80%;
        margin-left: 20px;
    }

    section .funciones2 .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .funciones2 h1{
        margin-top: 0;
    }

    section .funciones2 .container .img{
        margin-top: 20px;
        width: 120px;
    }

    .footer1{
        gap: 100px;
    }
}

header{
    display: flex;
    height: 90px;
    width: 100%;
    padding: 0;
    margin-top: 0;
    background-color: #952f57;
    justify-content: space-between;
    align-items: center;
}

p{
    font-size: 48px;
    font-weight: 900;
}

.nav {
    display: flex;
    margin-right: 40px;
}

ul, ol{
    list-style: none;
}

.nav li a{
    background-color: #952f57;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    border-radius: 7px;
    margin-top: 1px;
}

.nav li a:hover{
    background-color: #62152d;
}

.nav > li {
    float: right;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 170px;
    margin-left: -115px;
}

.nav li:hover > ul {
    display: block;
}

.logo{
    display: flex;
    height: 72%;
    margin-top: 10px;
    margin-left: 40px;
}

.logo img{
    display: flex;
}

.main{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: row;
}

.aside{
    display: flex;
    width: 18%;
    height: 100%;
    flex-direction: column;
}

.aside h1{
    font-size: 34px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 15px;
}

.titulo{
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    margin-right: 40px;
}

nav, ol{
    list-style: none;
}

.curso li a{
    background-color: #c9c9c9;
    color: black;
    text-decoration: none;
    padding: 12px 10px;
    display: block;
    border-radius: 5px;
    margin-top: 2px;
    width: 90%;
}

.curso li a:hover{
    background-color: #a7a7a7;
}

.curso li i{
    color: black;
    float: right;
    margin-right: 10px;
}

section{
    display: flex;
    width: 60%;
    height: 730px;
}

iframe{
    font-family: 'Lato', sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border-color: #a7a7a7;
    font-size: 26px;
    text-align: justify;
}

.contenido{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: justify;
}





.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-top: 0;
}

.footer button{
    background-color: transparent;
    border-radius: 15px;
    color: white;
    border: 1px solido rgba(98, 21, 45, 0.4);
    width: 140px;
    height: 40px;
    cursor: pointer;
}

.glass:hover{
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 341px;
    width: 320px;
    margin-top: -10px;
    background-color: rgb(32,72,78,0.4);
    transition: 1.5s all;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.footer1{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #952f57;
}   

.footer3 p{
    color: white;
    font-size: 14px;
    margin-right: 100px;
}

.footer3 h1{
    color: white;
    font-size: 18px;
}

.imgen{
    height: 50%;
    width: 50%;
    margin-left: 100px;
}