body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 15px;
    width: 95%;
    height: 100%;
    line-height: 1.5;
    text-align: justify;
    flex-direction: column;
}

.info{
    flex-direction: column;
}

.h1{
    font-size: 24px;
}

.p{
    font-size: 18px;
    text-align: justify;
}

.contenido .p{
    font-size: 18px;
    text-align: justify;
}

.calculator{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator h2{
    margin-top: 0;
    margin-bottom: 0;
}

.form{
    flex-direction: row;
}

.campo{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.campo input{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-indent: 5px;
}

.campo select{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-indent: 5px;
}

a{
    text-decoration: none;
}

.btn{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none; 
    color: white; 
    padding: 10px 30px; 
    cursor: pointer; 
    border-radius: 5px;
    margin-top: 10px;
}

.btn {background-color: #952f57;} 
.btn:hover {background: #62152d;}

a{
    color: #ca668b;
}

a:hover {
    color: #62152d;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    width: 50%;
    height: 50%;
}